# Entorno virtual
venv/
venvr/

# Archivos de caché de Python
__pycache__/
*.py[cod]

# Archivos de registro
*.log

# Archivos temporales de la aplicación
*.tmp

# Archivos específicos del entorno
.env

*.xlsx
